.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
  flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.form_wrapper {
	width: 30%;
	max-width: 300px;
	margin: 0 auto;
	padding-top: 10%;
}
.header {
	font-weight: normal;
	width: 100%;
	text-align: center;
	margin-bottom: 3%;
	text-transform: uppercase;
	color: #fff;
}
.form {
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #fff;
	padding: 5px;
	border-radius: 3px;
	box-shadow: 0 0 5px 1px #000;
}

.button {
	width: 60%;
	min-width: 135px;
}

.text {
	margin-top: 1%;
	color: #fff;
	margin: 1% 0 3%;
}

.button__link {
	color: #fff;
	text-decoration: none;
}