.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5% auto 0;
  max-width: 1000px;
}
.user_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80px;
}
.images_container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-gap: 3px;
}
.image_wrapper {
  position: relative;
  width: 100%;
}
.img_container {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px #000;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.delete_button {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
.delete_button:hover {
  opacity: 1;
  transition: opacity 0.5s;
  background:rgba(0, 0, 0, 0.5);
}
.button_icon {
  cursor: pointer;
}
.modal_window_background {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.animation_wrapper {
  height: 200px;
}
.modal_window {
  width: 100%;
  height: 100%;
  max-width: 255px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.modal_window__text {
  width: 100%;
  text-align: center;
  font-weight: 900;
}
.modal_window__buttonst_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.progress {
  position: absolute;
}
.user_info {
  color: #fff;
}