.wrapper {
	position: relative;
}
.buttons_navbar {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0 0 3px 1px #000;
	border-radius: 3px;
	margin: 5px;
	padding: 3px;
}
.button {
	background: #969fa5;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	padding: 1px;
	cursor: pointer;
	transition: box-shadow 0.3s;
}
.button_checked {
	background: #969fa5;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	padding: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 2px 2px #000;
	transition: box-shadow 0.3s;
}
.size_slider {
  margin: 0 10px;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_window_background {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.animation_wrapper {
  height: 200px;
}
.modal_window {
  width: 100%;
  height: 100%;
  max-width: 255px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.modal_window__text {
  width: 100%;
  text-align: center;
  font-weight: 900;
}
.modal_window__buttonst_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}