.user_name {
  font-weight: normal;
  color: #fff;
  margin: 0% 0% 0% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #A0A0A0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1%;
  grid-gap: 5px;
  margin: 0 1%;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px #000;
}
.imgWrapper {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px #000;
  background: #fff;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.name_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3% 0 1% 1%;
}
.search_input_wrapper {
  width: 50%;
  max-width: 200px;
  margin: 1% auto 0;
}
.search_input_head {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.search_input {
  background: #fff;
  border-radius: 5px;
}