.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  box-shadow: 0 -1px 3px 1px #000;
  position: relative;
}

.logo_container{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.logo {
  width:100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.nav__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.0rem;
  margin: 0 1%;
  padding: 0.5%;
  border-radius: 3px;
  border: 1px solid #969fa5;
  background: #969fa5;
  transition: box-shadow 0.5s;

}
.nav__link.activeNav__link {
  box-shadow: inset 0 0 2px 2px #000;
  transition: box-shadow 0.5s;
}
.signOutButton {
  position: absolute;
  left: 45%;
  width: 200px;
}