.wrapper {
  position: relative;
}

.nav__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
/* .nav__link.activeNav__link {
  
  
} */
.signOutButton {
  position: absolute;
  left: 45%;
  width: 200px;
}