.wrapper {
  position: relative;
  top: 5%;
  width: 80%;
  max-width: 762px;
  margin: 0 auto;
  height: 80%;
  min-height: 500px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px #000;
  cursor: crosshair;
}
.canvas {
  position: absolute;
}